{% import '@SherlockodeAdvancedContent/Form/common.html.twig' as common %}
{% trans_default_domain 'AdvancedContentBundle' %}

<div class="acb-field field-row acb-row acb-sortable" data-name="{{ form.vars.full_name }}">
    <div class="panel-heading">
        <span class="panel-title">
            {{ label|trans }}
        </span>
        {{- common.acb_panel_actions(form) -}}
    </div>
    <div class="panel-body">
        {{ acb_field_preview(form.vars.data) }}
    </div>
    <div style="display: none">
        {{ include('@SherlockodeAdvancedContent/Content/_field_form_part.html.twig', {'form': form}) }}
    </div>
</div>
