{% form_theme form '@SherlockodeAdvancedContent/Form/content.html.twig' %}

{% trans_default_domain 'AdvancedContentBundle' %}

{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.slug) }}
    {% if form.locale is defined %}
        {{ form_row(form.locale) }}
    {% endif %}
    {% for fieldValue in form.fieldValues %}
        {{ form_row(fieldValue) }}
    {% endfor %}
    <div class="acb-add-field-container">
        <select class="form-select">
        {% for groupName, items in form.vars['field_type_choices'] %}
            <optgroup label="{{ groupName|trans }}">
            {% for label, value in items %}
                <option value="{{ value }}">{{ label|trans }}</option>
            {% endfor %}
            </optgroup>
        {% endfor %}
        </select>
        <button type="button" class="btn btn-primary" data-form-field-url="{{ path('sherlockode_acb_content_field_form') }}">{{ 'content_type.form.add_field'|trans }}</button>
    </div>

    <div class="buttons">
        <a href="{{ path('sherlockode_acb_content_list') }}" class="btn btn-danger">{{ 'cancel'|trans }}</a>
        <button type="submit" class="btn btn-success">
            {{ 'save'|trans }}
        </button>
    </div>

{{ form_rest(form) }}
{{ form_end(form) }}
