{% form_theme form '@SherlockodeAdvancedContent/Form/content.html.twig' %}

{% trans_default_domain 'AdvancedContentBundle' %}

{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.slug) }}
    {% if form.locale is defined %}
        {{ form_row(form.locale) }}
    {% endif %}

    {{ form_row(form.fieldValues) }}

    <div class="buttons">
        <a href="{{ path('sherlockode_acb_content_list') }}" class="btn btn-danger">{{ 'cancel'|trans }}</a>
        <button type="submit" class="btn btn-success">
            {{ 'save'|trans }}
        </button>
    </div>

{{ form_rest(form) }}
{{ form_end(form) }}
