{% extends 'SherlockodeAdvancedContentBundle::layout.html.twig' %}
{% block body %}
    {{ parent() }}
    <div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-12">
                <h4>Create Content</h4>
                <div class="form-group">
                    {{ form_label(form.contentType) }}
                    {{ form_widget(form.contentType) }}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success">
            Create
        </button>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
