{% extends is_ajax is defined and is_ajax ? '@SherlockodeAdvancedContent/empty.html.twig' : '@SherlockodeAdvancedContent/layout.html.twig' %}

{% form_theme form '@SherlockodeAdvancedContent/Form/content.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container edit-content">
        <div class="row page-info">
            <div class="col-md-12">
                <h1>Edit Content</h1>
                <a href="{{ path('sherlockode_acb_content_list') }}" class="pull-right">Back to list</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-12">
                        {% for fieldValue in form.fieldValues %}
                            <div class="form-group row">
                                <div class="col-md-2">
                                    {{ form_label(fieldValue) }}
                                </div>
                                <div class="col-md-10">
                                    {% if fieldValue.value.vars.customWidget is defined %}
                                        {{ form_widget(fieldValue.value, {'attr': {'help': ''}}) }}
                                        {{ form_errors(fieldValue.value) }}
                                    {% else %}
                                        {% for option in fieldValue.value %}
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    {{ form_label(option) }}
                                                </div>
                                                <div class="col-md-10">
                                                    {{ form_widget(option) }}
                                                    {{ form_errors(option) }}
                                                </div>
                                            </div>
                                        {% else %}
                                            {{ form_widget(fieldValue.value, {'attr': {'help': ''}}) }}
                                            {{ form_errors(fieldValue.value) }}
                                        {% endfor %}
                                    {% endif %}
                                    {% if fieldValue.value.vars.attr.help is defined %}
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <em>{{ fieldValue.value.vars.attr.help|nl2br }}</em>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="buttons">
                    <a href="{{ path('sherlockode_acb_content_list') }}" class="btn btn-danger">Cancel</a>
                    <button type="submit" class="btn btn-success">
                        Update
                    </button>
                </div>

                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/sherlockodeadvancedcontent/js/content-type.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sherlockodeadvancedcontent/js/content.js') }}"></script>
{% endblock %}
