{% extends is_ajax is defined and is_ajax ? '@SherlockodeAdvancedContent/empty.html.twig' : '@SherlockodeAdvancedContent/layout.html.twig' %}

{% trans_default_domain 'AdvancedContentBundle' %}
{% form_theme form '@SherlockodeAdvancedContent/Form/content.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container edit-content">
        <div class="row page-info">
            <div class="col-md-12">
                <h1>{{ 'content.edit'|trans }}</h1>
                <a href="{{ path('sherlockode_acb_content_list') }}" class="pull-right">{{ 'back_to_list'|trans }}</a>
            </div>
        </div>
        <hr>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-12">
                {% for fieldValue in form.fieldValues %}
                    {{ form_row(fieldValue) }}
                {% endfor %}
            </div>
        </div>

        <div class="buttons">
            <a href="{{ path('sherlockode_acb_content_list') }}" class="btn btn-danger">{{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-success">
                {{ 'save'|trans }}
            </button>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/sherlockodeadvancedcontent/js/content-type.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sherlockodeadvancedcontent/js/content.js') }}"></script>
{% endblock %}
