{% extends '@SherlockodeAdvancedContent/layout.html.twig' %}
{% trans_default_domain 'AdvancedContentBundle' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row page-info">
            <div class="col-md-12">
                <h1>{{ 'content.label'|trans }}</h1>
                <a href="{{ path('sherlockode_acb_content_create') }}" class="float-end">{{ 'content.create'|trans }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'content.form.name'|trans }}</th>
                        <th>{{ 'actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for content in contents %}
                        <tr>
                            <td>{{ content.id }}</td>
                            <td>{{ content.name }}</td>
                            <td>
                                <a href="{{ path('sherlockode_acb_content_show', {id: content.id}) }}">{{ 'show'|trans }}</a>
                                | <a href="{{ path('sherlockode_acb_content_edit', {id: content.id}) }}">{{ 'edit'|trans }}</a>
                                | <a href="{{ path('sherlockode_acb_content_delete', {id: content.id}) }}">{{ 'delete'|trans }}</a>
                                | <a href="{{ path('sherlockode_acb_content_create', {duplicateId: content.id}) }}">{{ 'duplicate'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
