{% trans_default_domain 'AdvancedContentBundle' %}

{% form_theme form with ['@SherlockodeAdvancedContent/Form/content.html.twig'] %}

{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.pageIdentifier) }}
    {{ form_row(form.pageType) }}
    {% if form.status is defined %}
        {{ form_row(form.status) }}
    {% endif %}

    {% if form.scopes is defined %}
        <hr>
        {{ form_row(form.scopes) }}
        <input type="checkbox" id="acb-scopes-select-all">
        <label for="acb-scopes-select-all">{{ 'form.form.scopes_select_all'|trans({}, 'messages') }}</label>
    {% endif %}

    {% if form.pageMeta is defined %}
        <hr>
        {{ form_row(form.pageMeta) }}
    {% endif %}
    {% if form.content is defined %}
        <hr>
        {{ form_row(form.content) }}
    {% endif %}

    <div class="buttons">
        <a href="{{ path('sherlockode_acb_page_list') }}" class="btn btn-danger">{{ 'cancel'|trans }}</a>
        <button type="submit" class="btn btn-success">
            {{ 'save'|trans }}
        </button>
    </div>

{{ form_rest(form) }}
{{ form_end(form) }}

{% if form.vars.value is not null and form.vars.value.versions|length > 0 %}
    <div class="mt-5 pb-5">
        <h4>{{ 'version.list.title'|trans }}</h4>
        {{ include('@SherlockodeAdvancedContent/Version/page_list.html.twig', {'page': form.vars.value}) }}
    </div>
{% endif %}
