{% trans_default_domain 'AdvancedContentBundle' %}

{% form_theme form '@SherlockodeAdvancedContent/Form/content.html.twig' %}

{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.pageType) }}

    {% if form.metaDescription is defined %}
        {{ form_row(form.metaDescription) }}
    {% endif %}
    {% if form.status is defined %}
        {{ form_row(form.status) }}
    {% endif %}
    {% if form.content is defined %}
        <hr>
        {{ form_row(form.content) }}
    {% endif %}

    <div class="buttons">
        <a href="{{ path('sherlockode_acb_page_list') }}" class="btn btn-danger">{{ 'cancel'|trans }}</a>
        <button type="submit" class="btn btn-success">
            {{ 'save'|trans }}
        </button>
    </div>

{{ form_rest(form) }}
{{ form_end(form) }}
<span class="acb-page-change-type" style="display: none;">{{ 'page.errors.alert_change_type'|trans }}</span>
