{% extends '@SherlockodeAdvancedContent/layout.html.twig' %}
{% trans_default_domain 'AdvancedContentBundle' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row page-info">
            <div class="col-md-12">
                <h1>{{ 'page.label'|trans }}</h1>
                <a href="{{ path('sherlockode_acb_page_create') }}" class="float-end">{{ 'page.create'|trans }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'page.label'|trans }}</th>
                        <th>{{ 'actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for page in pages %}
                        <tr>
                            <td>{{ page.id }}</td>
                            <td>{{ page.pageMeta.title }}</td>
                            <td>
                                <a href="{{ path('sherlockode_acb_page_edit', {id: page.id}) }}">{{ 'edit'|trans }}</a>
                                | <a href="{{ path('sherlockode_acb_page_delete', {id: page.id}) }}">{{ 'delete'|trans }}</a>
                                | <a href="{{ path('sherlockode_acb_page_create', {duplicateId: page.id}) }}">{{ 'duplicate'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
