{% import '@SherlockodeAdvancedContent/Form/content.html.twig' as common %}

<div class="row acb-layout-row acb-field field-row acb-row acb-sortable acb-sortable-group acb-row-sortable-group"
     data-name="{{ form.vars.full_name }}"
     data-base-name="{{ form.children.elements.vars.full_name }}"
     data-widget-counter="{{ elements|default([])|length }}"
>
    {{ common.acb_row_toolbar(form) }}
    {% for key, element in elements|default([]) %}
        {% set childForm = form.children.elements.children[key]|default(null) %}
        {% if childForm is not null %}
            {{ acb_element_preview(element, childForm) }}
        {% endif %}
    {% endfor %}
</div>
