<div class="row">
    <div class="col-md-12">
        <div class="row add-field">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="col-md-5">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-5">
                {{ form_label(form.type) }}
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
            <input type="hidden" name="contentTypeId" value="{{ contentTypeId }}">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success btn-block btn-add-field">
                    Add Field
                </button>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
