<div class="panel panel-primary field-row" data-field-id="{{ field.vars.value.id }}" data-content-type-id="{{ field.vars.value.contentType.id }}">
    <div class="panel-heading">
        <span data-toggle="collapse" data-target="#field-{{ field.vars.value.id }}" data-parent="#fields" class="edit-field">{{ field.vars.label }}</span>
        <div class="pull-right actions">
            <span data-toggle="collapse" data-target="#field-{{ field.vars.value.id }}" data-parent="#fields" class="edit-field">
                <i class="glyphicon glyphicon-pencil"></i> Edit field
            </span>
            <a href="{{ path('sherlockode_acb_content_type_delete_field') }}" class="remove-field">
                <i class="glyphicon glyphicon-trash"></i> Remove field
            </a>
        </div>
    </div>
    <div class="panel-body collapse" id="field-{{ field.vars.value.id }}">
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(field.name) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(field.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(field.type) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(field.type, {'attr': {'class': 'field-type form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(field.isRequired) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(field.isRequired, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(field.sortOrder) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(field.sortOrder, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(field.hint) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(field.hint, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(field.options) }}
            </div>
            <div class="col-md-10 options">
                {% include '@SherlockodeAdvancedContent/ContentType/field_options_render.html.twig' with {options: field.options} only %}
            </div>
        </div>
    </div>
</div>
