{% extends '@SherlockodeAdvancedContent/layout.html.twig' %}
{% form_theme form '@SherlockodeAdvancedContent/Form/content_type.html.twig' %}
{% trans_default_domain 'AdvancedContentBundle' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row page-info">
            <div class="col-md-12">
                <h1>{{ 'content_type.create'|trans }}</h1>
                <a href="{{ path('sherlockode_acb_content_type_list') }}" class="pull-right">{{ 'back_to_list'|trans }}</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.slug) }}
                {{ form_row(form.linkType) }}
                {{ form_row(form.pageType) }}
                {{ form_row(form.page) }}
                {{ form_row(form.allowSeveralContents) }}
                <div class="row form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success pull-right">
                            {{ 'save'|trans }}
                        </button>
                    </div>
                </div>
                {% if form._token is defined %}
                    {{ form_widget(form._token) }}
                {% endif %}
                {{ form_end(form, {"render_rest": false}) }}
            </div>
        </div>
    </div>
{% endblock %}
