{% extends '@SherlockodeAdvancedContent/layout.html.twig' %}
{% form_theme form '@SherlockodeAdvancedContent/Form/content_type.html.twig' %}
{% trans_default_domain 'AdvancedContentBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sherlockodeadvancedcontent/css/content-type.css') }}">
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row page-info">
            <div class="col-md-12">
                <h1>{{ 'content_type.edit'|trans }}</h1>
                <a href="{{ path('sherlockode_acb_content_type_list') }}" class="pull-right">{{ 'back_to_list'|trans }}</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-2">
                        {{ form_label(form.name) }}
                    </div>
                    <div class="col-md-10">
                        {{ form_widget(form.name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.fields) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success pull-right">
                            {{ 'save'|trans }}
                        </button>
                    </div>
                </div>
                {{ form_widget(form._token) }}
                {{ form_end(form, {"render_rest": false}) }}
            </div>
        </div>
        <div class="field-options-remove-link" style="display: none">
            <a href="#" class="delete-choice"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
        <hr />
    </div>
    <div class="modal fade acb-modal-add-field">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'content_type.form.add_field'|trans }}</h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/sherlockodeadvancedcontent/js/content-type.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sherlockodeadvancedcontent/js/speakingurl.min.js') }}"></script>
{% endblock %}
