{% extends '@SherlockodeAdvancedContent/layout.html.twig' %}
{% form_theme form '@SherlockodeAdvancedContent/Form/content_type.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sherlockodeadvancedcontent/css/content-type.css') }}">
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row page-info">
            <div class="col-md-12">
                <h1>Edit Content Type</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.fields) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success pull-right">
                            Update
                        </button>
                    </div>
                </div>
                {{ form_widget(form._token) }}
                {{ form_end(form, {"render_rest": false}) }}
            </div>
        </div>
        <hr />
        <div class="add-field-form">
            {{ render(url('sherlockode_acb_content_type_add_field', {contentTypeId: data.id})) }}
        </div>
        <div class="field-options-remove-link" style="display: none">
            <a href="#" class="delete-choice"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
        <hr />
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/sherlockodeadvancedcontent/js/content-type.js') }}"></script>
{% endblock %}
