{% set formFields = form.fields %}
{% set formField = attribute(formFields, slug) %}

{% for option in formField.options %}
    <div class="form-group row">
        <div class="col-md-2">
            {{ form_label(option) }}
        </div>
        <div class="col-md-10">
            {{ form_widget(option, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(option) }}
        </div>
    </div>
{% else %}
    {{ form_widget(formField.options, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(field) }}
{% endfor %}
