{% trans_default_domain 'AdvancedContentBundle' %}
{% for option in options %}
    <div class="form-group row">
        <div class="col-md-2">
            {{ form_label(option) }}
        </div>
        <div class="col-md-10">
            {% if option.vars.name == 'choices' %}
                <ul data-prototype="{{ form_widget(option.vars.prototype)|e }}"
                    data-widget-tags="{{ '<li class="choice-row"></li>'|e }}"
                    data-widget-counter="{{ option|length }}"
                    class="list-unstyled choice-list">
                    {% for choice in option %}
                        <li class="choice-row">{{ form_widget(choice) }}</li>
                    {% endfor %}
                </ul>
                <a href="#"
                   class="add-another-choice">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                    Add another choice
                </a>
                <span class="acb-collection-error acb-error" style="display: none;">{{ 'field_type.errors.empty_collection'|trans }}</span>
            {% else %}
                {{ form_widget(option) }}
            {% endif %}
            {{ form_errors(option) }}
        </div>
    </div>
{% else %}
    {{ form_widget(options, {'attr': {'class': 'no-option'}}) }}
    {{ form_errors(options) }}
{% endfor %}
