{% extends '@SherlockodeAdvancedContent/layout.html.twig' %}
{% trans_default_domain 'AdvancedContentBundle' %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row page-info">
            <div class="col-md-12">
                <h1>{{ 'content_type.label'|trans }}</h1>
                <a href="{{ path('sherlockode_acb_content_type_create') }}" class="pull-right">{{ 'content_type.create'|trans }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'content.label'|trans }}</th>
                        <th>{{ 'actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contentType in contentTypes %}
                        <tr>
                            <td>{{ contentType.id }}</td>
                            <td>{{ contentType.name }}</td>
                            <td>
                                <a href="{{ path('sherlockode_acb_content_type_edit', {id: contentType.id}) }}">{{ 'edit'|trans }}</a>
                                | <a href="{{ path('sherlockode_acb_content_type_delete', {id: contentType.id}) }}">{{ 'delete'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
