{% trans_default_domain 'AdvancedContentBundle' %}

{% block acb_simple_collection %}
    {% set button_label = button_label|default('content_type.form.add_field') %}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_widget(prototype) }) -%}
    {% endif %}
    {%- set attr = attr|merge({'class': 'acb-sortable-group' }) -%}
    {%- set attr = attr|merge({'data-widget-counter': form|length }) -%}
    <div {{ block('widget_container_attributes') }} data-sortable-group-id="{{ form.vars.id }}">
        {% for child in form %}
            {{- form_widget(child) -}}
        {% endfor %}
    </div>
    {% if allow_add %}
        {{ block('acb_add_item_button') }}
    {% endif %}
{% endblock %}

{% block repeater_layout_widget %}
    {% set allowDelete = false %}
    {% set allowDuplicate = false %}
    {{- block('layout_widget') -}}
{% endblock %}

{% block layout_widget %}
    {% set fieldId = form.vars.value and form.vars.value.id ? form.vars.value.id : '__layout_random_id__' %}
    <div class="acb-field panel panel-primary field-row acb-row acb-sortable" data-sortable-parent-group-id="{{ form.parent.vars.id }}">
        <div class="panel-heading edit-field" data-toggle="collapse" data-target="#layout-{{ fieldId }}" aria-expanded="false"
             {% if form.parent is not empty %}data-parent="#{{ form.parent.vars.id }}"{% endif %}>
            <span class="panel-title">{{ form.vars.value.name ?? '&nbsp;' }}</span>
            {{- block('acb_panel_actions') -}}
        </div>
        <div class="panel-body collapse" id="layout-{{ fieldId }}">
            {{- block('form_widget') -}}
        </div>
    </div>
{% endblock %}

{% block acb_add_item_button %}
    <button type="button"
            class="btn btn-success acb-add-collection-item"
            data-list="#{{ form.vars.id }}"
            data-type="{{ type }}">
        {{ button_label|trans }}
    </button>
{% endblock %}

{% block acb_panel_actions %}
    <div class="pull-right panel-actions">
        {% if allowDuplicate is not defined or allowDuplicate == true %}
            <button type="button" class="acb-duplicate-row" title="{{ 'duplicate'|trans }}" data-form-id="{{ form.vars.id }}" data-form-name="{{ form.vars.full_name }}" data-form-index="{{ form.vars.name }}">
                <i class="glyphicon glyphicon-duplicate"></i>
            </button>
        {% endif %}
        {% if allowDelete is not defined or allowDelete == true %}
            <button type="button" class="acb-remove-row" title="{{ 'delete'|trans }}">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        {% endif %}
        <div class="expand_caret caret"></div>
    </div>
{% endblock %}

{% block acb_content_translations_widget %}
    {% set deleteUrl = path('sherlockode_acb_content_delete_locale') %}
    {% set duplicateUrl = path('sherlockode_acb_content_duplicate_locale') %}
    {% set duplicateBtnLabel = 'content.duplicate.validate'|trans %}
    {% set confirmText = 'content.delete.validate'|trans %}
    {{ block('acb_entity_translations_widget') }}
{% endblock %}

{% block acb_pagemeta_translations_widget %}
    {% set deleteUrl = path('sherlockode_acb_page_delete_locale') %}
    {% set duplicateUrl = path('sherlockode_acb_page_duplicate_locale') %}
    {% set duplicateBtnLabel = 'page.duplicate.validate'|trans %}
    {% set confirmText = 'page.delete.validate'|trans %}
    {{ block('acb_entity_translations_widget') }}
{% endblock %}

{# TODO bootstrap 3 => 4 #}
{% block acb_entity_translations_widget %}
    {{ form_errors(form) }}

    <div class="acb_translations">
        <ul class="acb_translationsLocales nav nav-tabs" role="tablist">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <li{% if app.request.locale == locale %} class="active"{% endif %}>
                    <a href="#{{ translationsFields.vars.id }}_acb_translations-fields" data-toggle="tab" role="tab">
                        {{ translationsFields.vars.label|default(locale|humanize)|trans }}
                        {% if translationsFields.vars.data %}
                            <i class="acb-delete-locale-content" title="{{ 'delete'|trans }}"
                               data-entity-id="{{ translationsFields.vars.data.id }}"
                               data-url="{{ deleteUrl }}"
                               data-confirm="{{ confirmText }}"
                            ></i>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}

            {% if missingLocales|length > 0 and value|length > 0 %}
                <li>
                    <div class="dropdown acb-duplicate-dropdown">
                        {% for locale in missingLocales %}
                            <a class="acb-duplicate-locale-content" data-toggle="dropdown" data-locale="{{ locale }}" href="#">
                                {{ locale|humanize }} <i class="acb-duplicate-locale-content-icon"></i>
                            </a>
                        {% endfor %}
                        <div class="dropdown-menu">
                            <div class="form-group">
                                <label>{{ 'content.duplicate.select_language'|trans }}</label>
                                <select class="form-control">
                                    {% for lang, data in value %}
                                        <option value="{{ data.id }}">{{ lang }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button data-url="{{ duplicateUrl }}" class="btn btn-success" type="button">{{ duplicateBtnLabel }}</button>
                        </div>
                    </div>
                </li>
            {% endif %}
        </ul>

        <div class="acb_translationFields tab-content">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <div id="{{ translationsFields.vars.id }}_acb_translations-fields" class="tab-pane {% if app.request.locale == locale %}active{% endif %} {% if not form.vars.valid %}field-error{% endif %}" role="tabpanel">
                    {{ form_errors(translationsFields) }}
                    {{ form_widget(translationsFields) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
