{% trans_default_domain 'AdvancedContentBundle' %}

{% block acb_simple_collection %}
    {% set button_label = button_label|default('content_type.form.add_field') %}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_widget(prototype) }) -%}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {{- form_widget(child) -}}
        {% endfor %}
    </div>
    {% if allow_add %}
        {{ block('acb_add_item_button') }}
    {% endif %}
{% endblock %}

{% block layout_widget %}
    {% set fieldId = form.vars.value and form.vars.value.id ? form.vars.value.id : '__random_id__' %}
    <div class="acb-field panel panel-primary field-row acb-row">
        <div class="panel-heading edit-field" data-toggle="collapse" data-target="#layout-{{ fieldId }}" aria-expanded="false"
             {% if form.parent is not empty %}data-parent="#{{ form.parent.vars.id }}"{% endif %}>
            <span class="panel-title">{{ form.vars.value.name ?? (form.vars.label ?? '') }}</span>
            {{- block('acb_panel_actions') -}}
        </div>
        <div class="panel-body collapse" id="layout-{{ fieldId }}">
            {{- block('form_widget') -}}
        </div>
    </div>
{% endblock %}

{% block acb_add_item_button %}
    <button type="button"
            class="btn btn-success acb-add-collection-item"
            data-list="#{{ form.vars.id }}"
            data-type="{{ type }}">
        {{ button_label|trans }}
    </button>
{% endblock %}

{% block acb_panel_actions %}
    <div class="pull-right panel-actions">
        <button type="button" class="acb-remove-row">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
        <div class="expand_caret caret"></div>
    </div>
{% endblock %}
