{% extends '@SherlockodeAdvancedContent/Form/theme.html.twig' %}

{% trans_default_domain 'AdvancedContentBundle' %}

{% block acb_simple_collection %}
    {% set button_label = button_label|default('content.add_field') %}
    {%- set attr = attr|default([]) -%}
    {% if prototype is defined %}
        {% set entryForm = prototype %}
        {%- set attr = attr|merge({'data-prototype': block('acb_collection_entry') }) -%}
    {% endif %}
    {%- set attr = attr|merge({'class': 'acb-sortable-group' }) -%}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {% set entryForm = child %}
            {{ block('acb_collection_entry') }}
        {% endfor %}
    </div>
    {% if allow_add|default(false) %}
        {{ block('acb_add_item_button') }}
    {% endif %}
{% endblock %}

{% macro acb_collection_entry(form) %}
    {% set entryForm = form %}
    {{ block('acb_collection_entry') }}
{% endmacro %}

{% block acb_collection_entry %}
    <div class="acb-field field-row acb-row acb-sortable">
        <div class="panel-heading">
            <span class="panel-title">
                {% if entryForm.vars.panel_label is defined %}
                    {{ entryForm.vars.panel_label|trans }}
                {% else %}
                #<span class="panel-position">{{ entryForm.vars.name|number_format + 1 }}</span>
                {% endif %}
            </span>
            {{- block('acb_panel_actions') -}}
        </div>
        <div class="panel-body">
            {{- form_widget(entryForm) -}}
        </div>
    </div>
{% endblock %}

{% block acb_add_item_button %}
    <button type="button"
            class="acb-add-collection-item"
            data-list="#{{ form.vars.id }}"
            data-type="{{ type }}"
            aria-label="{{ button_label|trans }}">
        <i class="fa-solid fa-plus"></i>
    </button>
{% endblock %}

{% block acb_panel_actions %}
    <div class="field-actions">
        {% if allowEdit is not defined or allowEdit == true %}
            <button type="button" class="acb-edit-row" title="{{ 'edit'|trans }}">
                <i class="fa-solid fa-pencil"></i>
            </button>
            <button type="button" class="acb-duplicate-row" title="{{ 'duplicate'|trans }}">
                <i class="fa-solid fa-copy"></i>
            </button>
        {% endif %}
        {% if allowDelete is not defined or allowDelete == true %}
            <button type="button" class="acb-remove-row" title="{{ 'delete'|trans }}">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        {% endif %}
    </div>
{% endblock %}
{% macro acb_panel_actions(form) %}
    {{ block('acb_panel_actions') }}
{% endmacro %}

