{% trans_default_domain 'AdvancedContentBundle' %}

{% extends '@SherlockodeAdvancedContent/Form/common.html.twig' %}

{% block acb_field_value_widget %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
    {% if form.value.vars.attr.help is defined %}
        <div class="form-group">
            <em>{{ form.value.vars.attr.help|nl2br }}</em>
        </div>
    {% endif %}
{% endblock %}

{% block acb_field_values_widget %}
    {% set type = 'group' %}
    {{ block('acb_simple_collection') }}

    <div class="acb-add-field-container">
        <select class="form-select">
            {% for groupName, items in form.vars['field_type_choices'] %}
                <optgroup label="{{ groupName|trans }}">
                    {% for label, value in items %}
                        <option value="{{ value }}">{{ label|trans }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
        <button type="button" class="btn btn-primary" data-form-field-url="{{ path('sherlockode_acb_content_field_form') }}" data-base-name="{{ form.vars['full_name'] }}">
            {{ 'content_type.form.add_field'|trans }}
        </button>
    </div>
{% endblock %}

{% block acb_field_collection_widget %}
    {% set type = 'group' %}
    {{ block('acb_simple_collection') }}
{% endblock %}

{% block acb_image_widget %}
    {{ form_row(form.file) }}

    {% set source = '' %}
    {% if form.vars.src is not empty %}
        {% set source = uploadManager.webPath ~ '/' ~ form.vars.src %}
    {% endif %}
    {% if source != '' %}
        <div class="form-group">
            <a href="{{ asset(source) }}">
                <img src="{{ asset(source) }}" height="50px" alt="image">
            </a>
        </div>
    {% endif %}

    {% if form.delete is defined %}
        {{ form_row(form.delete) }}
    {% endif %}

    {{ form_row(form.alt) }}
{% endblock %}

{% block acb_file_widget %}
    {{ form_row(form.file) }}

    {% set source = '' %}
    {% if form.vars.src is not empty %}
        {% set source = uploadManager.webPath ~ '/' ~ form.vars.src %}
    {% endif %}
    {% if source != '' %}
        <div class="form-group">
            <a href="{{ asset(source) }}" download>
                {{ form.vars.src }}
            </a>
        </div>
    {% endif %}

    {% if form.delete is defined %}
        {{ form_row(form.delete) }}
    {% endif %}

    {{ form_row(form.title) }}
{% endblock %}
