{% trans_default_domain 'AdvancedContentBundle' %}

{% extends '@SherlockodeAdvancedContent/Form/common.html.twig' %}

{% block acb_field_value_widget %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
    {% if form.value.vars.attr.help is defined %}
        <div class="form-group">
            <em>{{ form.value.vars.attr.help|nl2br }}</em>
        </div>
    {% endif %}
{% endblock %}

{% block acb_field_values_widget %}
    {%- set attr = attr|default([]) -%}
    {%- set attr = attr|merge({'class': 'acb-sortable-group' }) -%}
    {%- set attr = attr|merge({'data-widget-counter': form|length }) -%}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {{ _self.acb_field_value_entry(child) }}
        {% endfor %}
    </div>

    <div class="acb-add-field-container">
        <button type="button" class="btn btn-primary btn-new-field" data-new-field-url="{{ path('sherlockode_acb_content_add_field') }}" data-base-name="{{ form.vars['full_name'] }}">
            {{ 'content.add_field'|trans }}
        </button>
    </div>
{% endblock %}

{% macro acb_field_value_entry(form) %}
<div class="acb-field field-row acb-row acb-sortable" data-name="{{ form.vars.full_name }}">
    <div class="acb-field-heading">
        {% if form.vars.field_icon %}
        <i class="{{ form.vars.field_icon }}"></i>
        {% endif %}
        <span class="field-name">{{ form.vars.label|trans }}</span>

        {{- block('acb_panel_actions') -}}
    </div>
    <div class="panel-body">
        {{ acb_field_preview(form.vars.data) }}
    </div>
    <div style="display: none">
        {{ include('@SherlockodeAdvancedContent/Content/_field_form_part.html.twig', {'form': form}) }}
    </div>
</div>
{% endmacro %}

{% block acb_field_collection_widget %}
    {% set type = 'group' %}
    {% set allowEdit = false %}
    {{ block('acb_simple_collection') }}
{% endblock %}

{% block acb_image_widget %}
<div {{ block('widget_container_attributes') }}>
    {{ form_row(form.file) }}

    {% set source = '' %}
    {% if form.vars.src is not empty %}
        {% set source = uploadManager.webPath ~ '/' ~ form.vars.src %}
    {% endif %}
    {% if source != '' %}
        <div class="form-group">
            <a href="{{ asset(source) }}">
                <img src="{{ asset(source) }}" height="50px" alt="image">
            </a>
        </div>
    {% endif %}

    {% if form.delete is defined %}
        {{ form_row(form.delete) }}
    {% endif %}
    {% if form.src is defined %}
        {{ form_row(form.src) }}
    {% endif %}

    {{ form_row(form.alt) }}
</div>
{% endblock %}

{% block acb_file_widget %}
<div {{ block('widget_container_attributes') }}>
    {{ form_row(form.file) }}

    {% set source = '' %}
    {% if form.vars.src is not empty %}
        {% set source = uploadManager.webPath ~ '/' ~ form.vars.src %}
    {% endif %}
    {% if source != '' %}
        <div class="form-group">
            <a href="{{ asset(source) }}" download>
                {{ form.vars.src }}
            </a>
        </div>
    {% endif %}

    {% if form.delete is defined %}
        {{ form_row(form.delete) }}
    {% endif %}
    {% if form.src is defined %}
        {{ form_row(form.src) }}
    {% endif %}

    {{ form_row(form.title) }}
</div>
{% endblock %}

{% block acb_page_widget %}
    <div class="acb-page-field-group">
        <label>{{ 'page.form.general'|trans }}</label>
        <div class="acb-page-field-container acb-page-general-container">
            {{ form_row(form.pageIdentifier) }}
            {{ form_row(form.pageType) }}
            {% if form.status is defined %}
            {{ form_row(form.status) }}
            {% endif %}
        </div>
    </div>

    <div class="acb-page-field-group">
    {% if form.pageMeta is defined %}
        <label for="{{ form.pageMeta.vars.id }}">{{ 'page.form.page_meta'|trans }}</label>
        {{ form_widget(form.pageMeta) }}
    {% elseif form.pageMetas is defined %}
        <label for="{{ form.pageMetas.vars.id }}">{{ 'page.form.page_meta'|trans }}</label>
        {{ form_widget(form.pageMetas) }}
    {% endif %}
    </div>

    <div class="acb-page-field-group">
    {% if form.content is defined %}
        <label for="{{ form.content.vars.id }}">{{ 'page.form.content'|trans }}</label>
        {{ form_widget(form.content) }}
    {% elseif form.contents is defined %}
        <label for="{{ form.contents.vars.id }}">{{ 'page.form.content'|trans }}</label>
        {{ form_widget(form.contents) }}
    {% endif %}
    </div>

    {% if form._token is defined %}
        {{ form_widget(form._token) }}
    {% endif %}
{% endblock %}
