{% trans_default_domain 'AdvancedContentBundle' %}

{% extends '@SherlockodeAdvancedContent/Form/common.html.twig' %}

{% block acb_fields_widget %}
    <div class="panel-group acb-fields acb-sortable-group" id="acb-fields" data-sortable-group-id="acb-fields">
        {% for field in form %}
            {{ form_row(field) }}
        {% endfor %}
    </div>
    {% if form.parent and form.parent.vars.value.id %}
    <button type="button" class="btn btn-success acb-btn-add-field"
            data-url="{{ path('sherlockode_acb_content_type_add_field', {form_name: form.vars.full_name}) }}">
        {{ 'content_type.form.add_field'|trans }}
    </button>
    {% endif %}
{% endblock %}

{% block acb_field_row %}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{% endblock %}

{% block acb_field_widget %}
    {% set fieldId = form.vars.value and form.vars.value.id ? form.vars.value.id : '__random_id__' %}
    {% set panelParent = '' %}
    {% if form.parent is not empty %}
        {% set panelParent = form.parent.vars.id %}
        {% if form.parent.vars.name == 'fields' %}
            {% set panelParent = 'acb-fields' %}
        {% endif %}
    {% endif %}
<div class="acb-field panel panel-primary field-row acb-row acb-sortable" data-sortable-parent-group-id="{{ panelParent }}">
    <div class="panel-heading edit-field" data-toggle="collapse" data-target="#field-{{ fieldId }}"
            {% if panelParent is not empty %}data-parent="#{{ panelParent }}"{% endif %}
         aria-expanded="false">
        <span class="panel-title">{{ form.vars.label ?? (form.vars.value.name ?? '') }}</span>
        {{- block('acb_panel_actions') -}}
    </div>
    <div class="panel-body collapse" id="field-{{ fieldId }}">
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(form.name) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(form.slug) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form.slug, {'attr': {'class': 'acb-slug'}}) }}
                <span class="acb-slug-error acb-error" style="display: none;">{{ 'field_type.errors.duplicated_slug'|trans }}</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(form.type) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form.type, {'attr': {'class': 'field-type', 'data-form-path': form.vars.full_name}}) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(form.required) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form.required, {'attr': {'class': 'acb-is-required'}}) }}
            </div>
        </div>
        {{ form_widget(form.position) }}
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(form.hint) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form.hint) }}
            </div>
        </div>

        <div class="form-group row layout-row">
            {% include '@SherlockodeAdvancedContent/ContentType/field_layout.html.twig' with {form: form} only %}
        </div>
        <div class="form-group row options-row">
            <div class="col-md-2">
                {{ form_label(form.options) }}
            </div>
            <div class="col-md-10 options">
                {% include '@SherlockodeAdvancedContent/ContentType/field_options_render.html.twig' with {options: form.options} only %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block acb_add_item_button %}
    <button type="button"
            class="btn btn-success acb-add-collection-item"
            data-list="#{{ form.vars.id }}"
            data-type="{{ type }}"
            data-url="{{ path('sherlockode_acb_content_type_add_field', {form_name: prototype.vars.full_name}) }}">
        {{ button_label|trans }}
    </button>
{% endblock %}

{% block acb_repeater_widget %}
    {% set type = 'field' %}
    {{ block('acb_simple_collection') }}
{% endblock %}
{% block acb_flexible_widget %}
    {% set button_label = 'content_type.form.add_layout' %}
    {% set type = 'group' %}
    {{ block('acb_simple_collection') }}
{% endblock %}
{% block acb_layout_field_collection_widget %}
    {% set type = 'field' %}
    {{ block('acb_simple_collection') }}
{% endblock %}
