{% trans_default_domain 'AdvancedContentBundle' %}

{% extends '@SherlockodeAdvancedContent/Form/common.html.twig' %}

{% block acb_field_value_widget %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
    {% if form.value.vars.attr.help is defined %}
        <div class="form-group">
            <em>{{ form.value.vars.attr.help|nl2br }}</em>
        </div>
    {% endif %}
{% endblock %}

{% block acb_flexible_group_collection_widget %}
    {% set button_label = 'content.form.add_group' %}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_widget(prototype) }) -%}
    {% endif %}
    {%- set attr = attr|merge({'class': 'acb-sortable-group' }) -%}
    <div {{ block('widget_container_attributes') }} data-sortable-group-id="{{ form.vars.id }}">
        {% for child in form %}
            {{- form_widget(child) -}}
        {% endfor %}
    </div>
    {% if allow_add %}
        <div class="acb-flexible-add-wrapper dropup"
             data-content-type="{{ contentType.id }}"
             data-id-prefix="{{ id }}"
             data-name-prefix="{{ full_name }}"
             data-url="{{ path('sherlockode_acb_content_flexible_form') }}"
             data-list="#{{ form.vars.id }}"
             data-form-id="{{ form.vars.id }}">
            <button type="button" class="btn btn-success dropdown-toggle acb-open-layout-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ button_label|trans }}
            </button>
            <ul class="dropdown-menu">
                {% for layout in layouts %}
                    <li><a href="#" class="acb-add-flexible-item" data-layout="{{ layout.id }}">{{ layout.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block acb_group_collection_widget %}
    {% set type = 'group' %}
    {{ block('acb_simple_collection') }}
{% endblock %}
{% block acb_repeater_group_widget %}
    {% set fieldId = form.vars.id %}
    <div class="acb-field panel panel-primary field-row acb-row acb-sortable" data-sortable-parent-group-id="{{ form.parent.vars.id }}">
        <div class="panel-heading edit-field" data-toggle="collapse" data-target="#layout-{{ fieldId }}" aria-expanded="false"
             {% if form.parent is not empty %}data-parent="#{{ form.parent.vars.id }}"{% endif %}>
            <span class="panel-title">#<span class="panel-position">{{ form.vars.name|number_format + 1 }}</span></span>
            {{- block('acb_panel_actions') -}}
        </div>
        <div class="panel-body collapse" id="layout-{{ fieldId }}">
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block acb_flexible_group_widget %}
    {% set fieldId = form.vars.id %}
    {% set parentGroupId = '' %}
    {% if form.parent is not null %}
        {% set parentGroupId = form.parent.vars.id %}
    {% elseif parentFormId is defined %}
        {% set parentGroupId = parentFormId %}
    {% endif %}
    <div class="acb-field panel panel-primary field-row acb-row acb-sortable" data-sortable-parent-group-id="{{ parentGroupId }}">
        <div class="panel-heading edit-field" data-toggle="collapse" data-target="#layout-{{ fieldId }}" aria-expanded="false"
             data-parent="#{{ parentGroupId }}">
            <span class="panel-title">{% if form.vars.value is not null and form.vars.value.layout is not null %}{{ form.vars.value.layout.name }}{% endif %}</span>
            {{- block('acb_panel_actions') -}}
        </div>
        <div class="panel-body collapse" id="layout-{{ fieldId }}">
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block acb_message_widget %}
    <p>{{ message|nl2br }}</p>
{% endblock %}

{% block acb_image_widget %}
    {{ form_row(form.file) }}

    {% set source = '' %}
    {% if form.src.vars.data is not empty %}
        {% set source = uploadManager.webPath ~ '/' ~ form.src.vars.data %}
    {% endif %}
    {% if source != '' %}
        <div class="form-group">
            <a href="{{ asset(source) }}">
                <img src="{{ asset(source) }}" height="50px">
            </a>
        </div>
    {% endif %}

    {% if form.delete is defined %}
        {{ form_row(form.delete) }}
    {% endif %}

    {{ form_row(form.alt) }}
{% endblock %}

{% block acb_file_widget %}
    {{ form_row(form.file) }}

    {% set source = '' %}
    {% if form.src.vars.data is not empty %}
        {% set source = uploadManager.webPath ~ '/' ~ form.src.vars.data %}
    {% endif %}
    {% if source != '' %}
        <div class="form-group">
            <a href="{{ asset(source) }}" download>
                {{ form.src.vars.data }}
            </a>
        </div>
    {% endif %}

    {% if form.delete is defined %}
        {{ form_row(form.delete) }}
    {% endif %}

    {{ form_row(form.title) }}
{% endblock %}
