{% trans_default_domain 'AdvancedContentBundle' %}

{% extends '@SherlockodeAdvancedContent/Form/common.html.twig' %}

{% block acb_field_value_widget %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
    {% if form.value.vars.attr.help is defined %}
        <div class="form-group">
            <em>{{ form.value.vars.attr.help|nl2br }}</em>
        </div>
    {% endif %}
{% endblock %}

{% block acb_field_values_widget %}
    {%- set attr = attr|default([]) -%}
    {%- set attr = attr|merge({'class': 'acb-sortable-group' }) -%}
    {%- set attr = attr|merge({'data-widget-counter': form|length }) -%}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {% set entryForm = child %}
            {% set fieldId = entryForm.vars.id %}
            {{ block('acb_field_value_entry') }}
        {% endfor %}
    </div>

    <div class="acb-add-field-container">
        <button type="button" class="btn btn-primary btn-new-field" data-new-field-url="{{ path('sherlockode_acb_content_add_field') }}" data-base-name="{{ form.vars['full_name'] }}">
            {{ 'content.add_field'|trans }}
        </button>
    </div>
{% endblock %}

{% block acb_field_value_entry %}
<div class="acb-field panel panel-primary field-row acb-row acb-sortable" data-name="{{ entryForm.vars.full_name }}">
    <div class="panel-heading edit-field" data-toggle="collapse" data-target="#field-{{ fieldId }}" aria-expanded="false">
        <span class="panel-title">{{ entryForm.vars.label|trans }}</span>

        {{- block('acb_panel_actions') -}}
    </div>
    <div class="panel-body collapse" id="field-{{ fieldId }}">
        {{ acb_field_preview(entryForm.vars.data) }}
    </div>
    <div style="display: none">
        {{ include('@SherlockodeAdvancedContent/Content/_field_form_part.html.twig', {'form': entryForm}) }}
    </div>
</div>
{% endblock %}

{% block acb_field_collection_widget %}
    {% set type = 'group' %}
    {% set allowEdit = false %}
    {{ block('acb_simple_collection') }}
{% endblock %}

{% block acb_image_widget %}
    {{ form_row(form.file) }}

    {% set source = '' %}
    {% if form.vars.src is not empty %}
        {% set source = uploadManager.webPath ~ '/' ~ form.vars.src %}
    {% endif %}
    {% if source != '' %}
        <div class="form-group">
            <a href="{{ asset(source) }}">
                <img src="{{ asset(source) }}" height="50px" alt="image">
            </a>
        </div>
    {% endif %}

    {% if form.delete is defined %}
        {{ form_row(form.delete) }}
    {% endif %}
    {% if form.src is defined %}
        {{ form_row(form.src) }}
    {% endif %}

    {{ form_row(form.alt) }}
{% endblock %}

{% block acb_file_widget %}
    {{ form_row(form.file) }}

    {% set source = '' %}
    {% if form.vars.src is not empty %}
        {% set source = uploadManager.webPath ~ '/' ~ form.vars.src %}
    {% endif %}
    {% if source != '' %}
        <div class="form-group">
            <a href="{{ asset(source) }}" download>
                {{ form.vars.src }}
            </a>
        </div>
    {% endif %}

    {% if form.delete is defined %}
        {{ form_row(form.delete) }}
    {% endif %}
    {% if form.src is defined %}
        {{ form_row(form.src) }}
    {% endif %}

    {{ form_row(form.title) }}
{% endblock %}
