{% trans_default_domain 'AdvancedContentBundle' %}
{% block acb_fields_widget %}
    <div class="panel-group acb-fields" id="acb-fields">
        {% for field in form %}
            {{ form_row(field) }}
        {% endfor %}
    </div>
    {% if form.parent and form.parent.vars.value.id %}
    <button type="button" class="btn btn-success acb-btn-add-field"
            data-url="{{ path('sherlockode_acb_content_type_add_field', {contentTypeId: form.parent.vars.value.id, form_name: form.parent.vars.name}) }}">
        {{ 'content_type.form.add_field'|trans }}
    </button>
    {% endif %}
{% endblock %}

{% block acb_field_row %}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{% endblock %}

{% block acb_simple_collection %}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    {{- block('form_widget') -}}
    <button type="button" class="btn btn-success acb-add-collection-item" data-list="#{{ form.vars.id }}">{{ 'content_type.form.add_field'|trans }}</button>
{% endblock  %}
{% block acb_repeater_widget %}
    {{ block('acb_simple_collection') }}
{% endblock %}

{% block acb_group_collection_widget %}
    {{ block('acb_simple_collection') }}
{% endblock %}

{% block acb_field_widget %}
<div class="acb-field panel panel-primary field-row" data-field-id="{{ form.vars.value ? form.vars.value.id : '' }}">
    <div class="panel-heading edit-field" data-toggle="collapse" data-target="#field-{{ form.vars.value ? form.vars.value.id : '' }}"
         {% if form.parent is not empty and form.parent.vars.name == 'fields' %}data-parent="#acb-fields"{% endif %}>
        <span class="panel-title">{{ form.vars.label }}</span>
        <div class="pull-right actions">
            <span>
                <i class="glyphicon glyphicon-pencil"></i> {{ 'content_type.form.field.edit'|trans }}
            </span>
            <button type="button" class="remove-field">
                <i class="glyphicon glyphicon-trash"></i> {{ 'content_type.form.field.remove'|trans }}
            </button>
        </div>
    </div>
    <div class="panel-body collapse" id="field-{{ form.vars.value ? form.vars.value.id : '' }}">
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(form.name) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(form.slug) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form.slug, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(form.type) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form.type, {'attr': {'class': 'field-type form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(form.required) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form.required, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(form.sortOrder) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form.sortOrder, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row options-row">
            <div class="col-md-2">
                {{ form_label(form.hint) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form.hint, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% if form['children'] is defined %}
        <div class="form-group row options-row">
            <div class="col-md-2">
                {{ form_label(form['children']) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(form['children']) }}
            </div>
        </div>
        {% endif %}
        <div class="form-group row">
            <div class="col-md-2">
                {{ form_label(form.options) }}
            </div>
            <div class="col-md-10 options">
                {% include '@SherlockodeAdvancedContent/ContentType/field_options_render.html.twig' with {options: form.options} only %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block acb_message_widget %}
    <p>{{ message|nl2br }}</p>
{% endblock %}

{% block acb_image_widget %}
    <div class="form-group row">
        <div class="col-md-2">
            {{ form_label(form.file) }}
        </div>
        <div class="col-md-10">
            {{ form_widget(form.file) }}
            {{ form_errors(form.file) }}
        </div>
    </div>

    {% set source = '' %}
    {% if form.src.vars.data is not null %}
        {% set source = uploadManager.webPath ~ '/' ~ form.src.vars.data %}
    {% endif %}
    {% if source != '' %}
        <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <a href="{{ asset(source) }}">
                    <img src="{{ asset(source) }}" height="50px">
                </a>
            </div>
        </div>
    {% endif %}

    <div class="form-group row" {% if source == '' %} style="display: none;"{% endif %}>
        <div class="col-md-2">
            {{ form_label(form.delete) }}
        </div>
        <div class="col-md-10">
            {{ form_widget(form.delete) }}
            {{ form_errors(form.delete) }}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2">
            {{ form_label(form.alt) }}
        </div>
        <div class="col-md-10">
            {{ form_widget(form.alt) }}
            {{ form_errors(form.alt) }}
        </div>
    </div>
{% endblock %}
