{% trans_default_domain 'AdvancedContentBundle' %}

{% extends '@SherlockodeAdvancedContent/Form/common.html.twig' %}

{% block acb_element_widget %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
    {% if form.value.vars.attr.help is defined %}
        <div class="form-group">
            <em>{{ form.value.vars.attr.help|nl2br }}</em>
        </div>
    {% endif %}
{% endblock %}

{% block content_data_json_form %}
    <input type="hidden" id="content-data-json" name="{{ form.vars.full_name }}" value="{{ acb_get_json_form(form)|json_encode() }}">
{% endblock %}

{% block _content_data_widget %}
    <div class="acb-sortable-group acb-root-sortable-group" data-base-name="{{ form.vars.full_name }}" data-widget-counter="{{ form.children|length }}">
        {% for child in form.children %}
            {{ _self.acb_render_elements(child) }}
        {% endfor %}
    </div>
    {{ _self.acb_button_add_field(form.vars.full_name) }}
    {{ block('content_data_json_form') }}
{% endblock %}
{% block _acb_page_content_data_widget %}
    {{ block('_content_data_widget') }}
{% endblock %}

{% macro acb_button_add_field(baseName) %}
    {% import "@SherlockodeAdvancedContent/Common/Macros/classes.html.twig" as classes %}
    <div class="acb-add-field-container" data-base-name="{{ baseName }}">
        <button type="button" class="{{ classes.button }} btn-append-field">
            <i class="fa-solid fa-plus"></i>
            <span>{{ 'content.add_field'|trans }}</span>
        </button>
    </div>
{% endmacro %}

{% macro acb_render_elements(form) %}
    {% set isLayout = form.vars.data.elementType == 'row' or form.vars.data.elementType == 'column' %}
    {% if not isLayout %}
        <div class="acb-field field-row acb-row acb-sortable" data-name="{{ form.vars.full_name }}">
        {{ _self.acb_element_toolbar(form) }}
    {% endif %}
    {{ acb_element_preview(form.vars.data, form) }}
    {% if not isLayout %}
        </div>
    {% endif %}
{% endmacro %}

{% macro acb_element_toolbar(form) %}
    <div class="acb-element-toolbar acb-field-toolbar acb-sorting-block"
         data-name="{{ form.vars.full_name }}"
         data-form-index="{{ form.vars.name == '__field_name__' ? '__name__' : form.vars.name }}"
    >
        <div class="acb-field-heading acb-sorting-flex">
            <div class="sortable-handle acb-sorting-block" title="{{ 'move'|trans }}">
                <i class="fa-solid fa-maximize move-icon"></i>
                {% if form.vars.field_icon %}
                    <i class="{{ form.vars.field_icon }} element-icon acb-sorting-inline-block"></i>
                {% endif %}
                <span class="field-name acb-sorting-inline-block">{{ acb_get_element_label(form.vars.data.elementType)|trans }}</span>
            </div>
            <div class="field-actions">
                <button type="button" class="acb-edit-row" title="{{ 'edit'|trans }}">
                    <i class="fa-solid fa-pencil"></i>
                </button>
                <button type="button" class="acb-duplicate-row" title="{{ 'duplicate'|trans }}">
                    <i class="fa-solid fa-copy"></i>
                </button>
                <button type="button" class="acb-remove-row" title="{{ 'delete'|trans }}" data-confirm-delete="{{ 'delete_confirm'|trans }}">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </div>
        </div>
    </div>
    <div>
        {% if form.vars.field_icon %}
            <i class="{{ form.vars.field_icon }}"></i>
        {% endif %}
        <span class="field-name">{{ acb_get_element_label(form.vars.data.elementType)|trans }}</span>
    </div>
{% endmacro %}

{% macro acb_row_toolbar(form) %}
    <div class="acb-element-toolbar acb-row-toolbar acb-sorting-flex"
         data-name="{{ form.vars.full_name }}"
         data-form-index="{{ form.vars.name == '__field_name__' ? '__name__' : form.vars.name }}"
    >
        <div class="field-actions acb-sorting-block">
            <span class="sortable-handle acb-sorting-block button" title="{{ 'move'|trans }}">
                <i class="fa-solid fa-maximize"></i>
                {% if form.vars.field_icon %}
                    <i class="{{ form.vars.field_icon }} element-icon acb-sorting-inline-block" style="display: none;"></i>
                {% endif %}
                <span class="field-name acb-sorting-inline-block" style="display: none;">{{ acb_get_element_label(form.vars.data.elementType)|trans }}</span>
            </span>
            <div class="change-display button" title="{{ 'change_display'|trans }}">
                <i class="fa-solid fa-bars"></i>
                <div class="change-display-options">
                    <button type="button" class="btn btn-light" data-col-num="1" title="{{ 'layout_type.layouts.one_column'|trans }}">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <button type="button" class="btn btn-light" data-col-num="2" title="{{ 'layout_type.layouts.two_columns'|trans }}">
                        <i class="fa-solid fa-th-large"></i>
                    </button>
                    <button type="button" class="btn btn-light" data-col-num="3" title="{{ 'layout_type.layouts.three_columns'|trans }}">
                        <i class="fa-solid fa-th"></i>
                    </button>
                    <button type="button" class="btn btn-light" data-col-num="4" title="{{ 'layout_type.layouts.four_columns'|trans }}">
                        <i class="fa-solid fa-columns"></i><i class="fa-solid fa-columns"></i>
                    </button>
                </div>
            </div>
            <button type="button" class="btn-append-field" title="{{ 'content.add_field'|trans }}">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
        <div class="field-actions">
            {% set elementId = form.vars.value.extra.advanced.id|default('') %}
            {% set elementClass = form.vars.value.extra.advanced.class|default('') %}
            {% if elementId is not empty or elementClass is not empty %}
                <span class="row-extra">
                    {% if elementId is not empty %}
                        #{{ elementId }}
                    {% endif %}
                    {% if elementClass is not empty %}
                        .{{ elementClass }}
                    {% endif %}
                </span>
            {% endif %}
            <button type="button" class="acb-collapse-row" title="{{ 'collapse'|trans }}">
                <i class="fa-solid fa-caret-up"></i>
            </button>
            <button type="button" class="acb-edit-row" title="{{ 'edit'|trans }}">
                <i class="fa-solid fa-pencil"></i>
            </button>
            <button type="button" class="acb-duplicate-row" title="{{ 'duplicate'|trans }}">
                <i class="fa-solid fa-copy"></i>
            </button>
            <button type="button" class="acb-remove-row" title="{{ 'delete'|trans }}" data-confirm-delete="{{ 'delete_confirm'|trans }}">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </div>
    </div>
{% endmacro %}
{% macro acb_column_toolbar(form, isToolbarTop) %}
    <div class="acb-element-toolbar acb-column-toolbar {{ isToolbarTop ? 'acb-column-toolbar-top acb-sorting-flex sortable-handle' : 'acb-column-toolbar-bottom' }}"
         data-name="{{ form.vars.full_name }}"
         data-form-index="{{ form.vars.name == '__field_name__' ? '__name__' : form.vars.name }}"
    >
        {% if isToolbarTop %}
            <span class="acb-sorting-block" title="{{ 'move'|trans }}" style="display: none;">
                {% if form.vars.field_icon %}
                    <i class="{{ form.vars.field_icon }} element-icon acb-sorting-inline-block"></i>
                {% endif %}
                <span class="field-name acb-sorting-inline-block">{{ acb_get_element_label(form.vars.data.elementType)|trans }}</span>
            </span>
        {% endif %}
        <div class="field-actions">
            <button type="button" class="btn-append-field" title="{{ 'content.add_field'|trans }}">
                <i class="fa-solid fa-plus"></i>
            </button>
            {% if isToolbarTop %}
                <button type="button" class="acb-edit-row" title="{{ 'edit'|trans }}">
                    <i class="fa-solid fa-pencil"></i>
                </button>
                <button type="button" class="acb-remove-row" title="{{ 'delete'|trans }}" data-confirm-delete="{{ 'delete_confirm'|trans }}">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block acb_field_collection_widget %}
    {% set type = 'group' %}
    {% set allowEdit = false %}
    {{ block('acb_simple_collection') }}
{% endblock %}

{% block acb_image_widget %}
    {%- set attr = attr|merge({ class: attr.class|default('acb-widget-container') }) -%}
    <div {{ block('widget_container_attributes') }}>
        <div class="mb-3">
            {{ form_row(form.file) }}
            <div class="invalid-feedback d-none" data-error="{{ 'field_type.file.restriction_type_error'|trans }}"></div>
        </div>

        {% set source = '' %}
        {% if form.vars.src is not empty %}
            {% set source = uploadManager.webPath ~ '/' ~ form.vars.src %}
        {% endif %}
        {% if source != '' %}
            <div class="form-group">
                <a href="{{ asset(source) }}">
                    <img src="{{ asset(source) }}" height="50px" alt="image">
                </a>
            </div>
        {% endif %}

        {% if form.delete is defined %}
            {{ form_row(form.delete) }}
        {% endif %}
        {% if form.src is defined %}
            {{ form_row(form.src) }}
        {% endif %}

        {{ form_row(form.alt) }}
        {% if form.mime_type is defined %}
            {% import "@SherlockodeAdvancedContent/Common/Macros/collapse.html.twig" as macro %}

            {% set content %}
                {{ form_widget(form.mime_type, {'attr': {'data-mime-type-restriction-values': ''}}) }}
                {{ form_help(form.mime_type) }}
                {{ form_errors(form.mime_type) }}
            {% endset %}

            {% set data = [{'title': form_label(form.mime_type), 'content': content }] %}
            {{ macro.buildAccordion(data) }}
        {% endif %}
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block acb_file_widget %}
    {%- set attr = attr|merge({ class: attr.class|default('acb-widget-container') }) -%}
    <div {{ block('widget_container_attributes') }}>
        <div class="mb-3">
            {{ form_row(form.file) }}
            <div class="invalid-feedback d-none" data-error="{{ 'field_type.file.restriction_type_error'|trans }}"></div>
        </div>

        {% set source = '' %}
        {% if form.vars.src is not empty %}
            {% set source = uploadManager.webPath ~ '/' ~ form.vars.src %}
        {% endif %}
        {% if source != '' %}
            <div class="form-group">
                <a href="{{ asset(source) }}" download>
                    {{ form.vars.src }}
                </a>
            </div>
        {% endif %}

        {% if form.delete is defined %}
            {{ form_row(form.delete) }}
        {% endif %}
        {% if form.src is defined %}
            {{ form_row(form.src) }}
        {% endif %}

        {{ form_row(form.title) }}
        {% if form.mime_type is defined %}
            {% import "@SherlockodeAdvancedContent/Common/Macros/collapse.html.twig" as macro %}

            {% set content %}
                {{ form_widget(form.mime_type, {'attr': {'data-mime-type-restriction-values': ''}}) }}
                {{ form_help(form.mime_type) }}
                {{ form_errors(form.mime_type) }}
            {% endset %}

            {% set data = [{'title': form_label(form.mime_type), 'content': content }] %}
            {{ macro.buildAccordion(data) }}
        {% endif %}
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block acb_column_config_row %}
    <table class="acb-column-config table">
        <tr>
            <th>{{ 'responsive.device'|trans }}</th>
            <th>{{ 'layout_type.column.config.offset'|trans }}</th>
            <th>{{ 'layout_type.column.config.size'|trans }}</th>
        </tr>
        <tr>
            <td class="device-type"><i class="{{ _self.device_icon_class('xl')|trim }}" title="{{ 'responsive.devices.desktop'|trans }}"></i></td>
            <td>{{ form_widget(form.offset_xl) }}</td>
            <td>{{ form_widget(form.size_xl) }}</td>
        </tr>
        <tr>
            <td class="device-type"><i class="{{ _self.device_icon_class('lg')|trim }}" title="{{ 'responsive.devices.tablet_landscape'|trans }}"></i></td>
            <td>{{ form_widget(form.offset_lg) }}</td>
            <td>{{ form_widget(form.size_lg) }}</td>
        </tr>
        <tr>
            <td class="device-type"><i class="{{ _self.device_icon_class('md')|trim }}" title="{{ 'responsive.devices.tablet_portrait'|trans }}"></i></td>
            <td>{{ form_widget(form.offset_md) }}</td>
            <td>{{ form_widget(form.size_md) }}</td>
        </tr>
        <tr>
            <td class="device-type"><i class="{{ _self.device_icon_class('sm')|trim }}" title="{{ 'responsive.devices.mobile_landscape'|trans }}"></i></td>
            <td>{{ form_widget(form.offset_sm) }}</td>
            <td>{{ form_widget(form.size_sm) }}</td>
        </tr>
        <tr>
            <td class="device-type"><i class="{{ _self.device_icon_class('xs')|trim }}" title="{{ 'responsive.devices.mobile_portrait'|trans }}"></i></td>
            <td>{{ form_widget(form.offset) }}</td>
            <td>{{ form_widget(form.size) }}</td>
        </tr>
    </table>
{% endblock %}

{% block element_hide_on_widget %}
    <div {{ block('widget_container_attributes') }}>
        <div class="{% if required %}required {% endif %} acb-advanced-hide-on">
            {%- for child in form %}
                <div class="checkbox">
                    {{- form_widget(child) -}}
                    <label for="{{ child.vars.id }}" title="{{ child.vars.label|trans({}, child.vars.translation_domain) }}">
                        <i class="{{ _self.device_icon_class(child.vars.value)|trim }}"></i>
                    </label>
                </div>
            {% endfor -%}
        </div>
    </div>
{% endblock %}

{% macro device_icon_class(device) %}
    {% if device == 'xs' %}
        fa-solid fa-mobile
    {% elseif device == 'sm' %}
        fa-solid fa-mobile fa-rotate-90
    {% elseif device == 'md' %}
        fa-solid fa-tablet
    {% elseif device == 'lg' %}
        fa-solid fa-tablet fa-rotate-90
    {% else %}
        fa-solid fa-desktop
    {% endif %}
{% endmacro %}
