{% extends '@SherlockodeAdvancedContent/Form/theme.html.twig' %}

{% trans_default_domain 'AdvancedContentBundle' %}

{% block acb_content_translations_widget %}
    {% set deleteUrl = path('sherlockode_acb_content_delete_locale') %}
    {% set duplicateUrl = path('sherlockode_acb_content_duplicate_locale') %}
    {% set duplicateBtnLabel = 'content.duplicate.validate'|trans %}
    {% set confirmText = 'content.delete.validate'|trans %}
    {{ block('acb_entity_translations_widget') }}
{% endblock %}

{% block acb_pagemeta_translations_widget %}
    {% set deleteUrl = path('sherlockode_acb_page_delete_locale') %}
    {% set duplicateUrl = path('sherlockode_acb_page_duplicate_locale') %}
    {% set duplicateBtnLabel = 'page.duplicate.validate'|trans %}
    {% set confirmText = 'page.delete.validate'|trans %}
    {{ block('acb_entity_translations_widget') }}
{% endblock %}

{% block acb_entity_translations_widget %}
    {{ form_errors(form) }}

    <div class="acb_translations">
        <ul class="acb_translationsLocales nav nav-tabs" role="tablist">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <li class="nav-item">
                    <button class="nav-link {% if app.request.locale == locale %}active{% endif %}" type="button" data-bs-target="#{{ translationsFields.vars.id }}_acb_translations-fields" data-bs-toggle="tab" role="tab">
                        {{ translationsFields.vars.label|default(locale|humanize)|trans }}
                        {% if translationsFields.vars.data %}
                            <i class="acb-delete-locale-content" title="{{ 'delete'|trans }}"
                               data-entity-id="{{ translationsFields.vars.data.id }}"
                               data-url="{{ deleteUrl }}"
                               data-confirm="{{ confirmText }}"
                            ></i>
                        {% endif %}
                    </button>
                </li>
            {% endfor %}

            {% if missingLocales|length > 0 and value|length > 0 %}
                <li class="nav-item">
                    <button class="nav-link" type="button" data-bs-target="#duplicate_acb_translations-fields" data-bs-toggle="tab" role="tab">
                        {{ 'content.duplicate.other_locales'|trans }}
                    </button>
                </li>
            {% endif %}
        </ul>

        <div class="acb_translationFields tab-content">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <div id="{{ translationsFields.vars.id }}_acb_translations-fields" class="tab-pane {% if app.request.locale == locale %}active{% endif %} {% if not form.vars.valid %}field-error{% endif %}" role="tabpanel">
                    {{ form_errors(translationsFields) }}
                    {{ form_widget(translationsFields) }}
                </div>
            {% endfor %}

            {% if missingLocales|length > 0 and value|length > 0 %}
            <div id="duplicate_acb_translations-fields" class="tab-pane acb-missing-locales">
                <label for="acb-duplicate-target-language">{{ 'content.duplicate.select_target_language'|trans }}</label>
                <select id="acb-duplicate-target-language" class="form-control acb-duplicate-locale-value">
                    {% for locale in missingLocales %}
                        <option value="{{ locale }}">{{ locale }}</option>
                    {% endfor %}
                </select>
                <div class="acb-duplicate-source">
                    <div class="form-group my-2">
                        <label for="acb-duplicate-source-language">{{ 'content.duplicate.select_source_language'|trans }}</label>
                        <select id="acb-duplicate-source-language" class="form-control">
                            {% for lang, data in value %}
                                <option value="{{ data.id }}">{{ lang }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button data-url="{{ duplicateUrl }}" class="btn btn-success my-2" type="button">{{ duplicateBtnLabel }}</button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
